.me-name {
}
.me-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.me-particle-box {
  height: 100;
}

.me-image {
  border-radius: 50%;
  margin-top: 15%;
}
