.connect-bg {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: "100vh";
  min-height: "100vh";
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.connect-innerElement {
  text-align: center;
}
.connet-image {
  height: "50%";
  width: "50%";
  border-radius: 50%;
  margin-top: 11%;
}
.connect-social-icons {
  margin-top: 3%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.connect-button-text {
  margin-left: 10%;
}
.connect-button {
}
.connect-button-twitter:hover {
  color: #1da1f2;
}
.connect-button-Facebook:hover {
  color: #4267b2;
}
.connect-button-LinkedIn:hover {
  color: #2867b2;
}
.connect-button-Github:hover {
  color: #333;
}
.connect-button-IG:hover {
  color: #e1306c;
}
.connect-button-youtube:hover {
  color: #e13;
}
.connect-btn {
  margin-top: 4%;
  margin-bottom: 5%;
}
@media (max-width: 600px) {
  .connet-image {
    height: "50%";
    width: "50%";
    border-radius: 50%;
    margin-top: 53%;
  }
}
