.web-intro {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
.web-intro-heading {
  margin-left: 3%;
  color: #47ff8c;
}
.web-intro-dis {
  margin-left: 3%;
  color: #8f8b8b;
  margin-block-start: 0em;
}

@media (max-width: 600px) {
  .web-intro-heading {
    margin-left: 3%;
  }
  .web-intro-dis {
    margin-left: 3%;
  }
}
